* {

  margin: 0;

  padding: 0;

}



body {

  font-family: Arial, sans-serif;

  background-color: #0f0f0f;

  color: #e0e0e0;

}



header {

  position: fixed;

  top: 0;

  width: 100%;

  background: #000;

  text-align: center;

  padding: 15px 0;

  border-bottom: 1px solid #222;

}



nav a {

  color: #e0e0e0;

  margin: 0 15px;

  text-decoration: none;

}



nav a:hover {

  color: #ffffff;

}



.section1 {

  height: 100vh;

  text-align: center;

  padding-top: 150px;

  background-color: white;

  color: #000;

}

.section2 {

  height: 100vh;

  text-align: center;

  background-color: #000;

  padding-top: 150px;

  color: white;

}



.section h1{

  margin-bottom: 20px;

  color: #ffffff;

}



.img {

  width: 180px;

  height: 180px;

  border-radius: 50%;   

  object-fit: cover;

  margin-bottom: 30px;

  border: 3px solid #ffffff;

}


 .github {
  margin-top: 30px;
  text-align: center;
}

.github a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.github a:hover {
  color: #cccccc;
}



